.search-container {
  text-align: center;
  width: 100%;
  padding-top: 5em;

  h1 {
    letter-spacing: 1px;
    color: #d24649;
    font-size: 3em;
    margin: 0;
  }

  input, a {
    padding: 0.75em 0;
  }

  input {
    width: 70%;
    margin: 1em 0;
    padding-left: 0.5em;
    border-radius: 5px;
  }

  a {
    display: block;
    width: 300px;
    margin: 0 auto;
    border: none;
    background-color: dodgerblue;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }

  a:hover {
    cursor: pointer;
    background-color: #399eff;
  }
}