.venue-list {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;

  h1 {
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    font-size: 3em;
    background-color: #d24649;
  }

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    li {
      width: 350px;
      border: 1px solid #333;
      border-radius: 5px;
      margin: 1em;
      padding: 0.5em;
      text-align: center;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }
}